<span style="display:none">
<label data-sw-translate for="{{{escape contentTypeId}}}">Response Content Type</label>
<select name="contentType" id="{{{escape contentTypeId}}}">
  <option value="application/json">application/json</option>
</select>
</span>
